@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

}
<div class="page-error-404">
    <div class="error-symbol">
        <i class="entypo-attention"></i>
    </div>
    <h2>404</h2>
</div>
<h1 class="text-danger">Error.</h1>
<div class="main-content">
    <div class="page-error-404">


        <div class="error-symbol">
            <i class="entypo-attention"></i>
        </div>

        <div class="error-text">
            <h2>404</h2>

            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>

        <hr />

     

    </div>
</div>




