
@model IEnumerable<HR.Models.Organization_Chart>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@using System.Web.UI.WebControls
@using HR.Models;
@using HR.Resource;
<link href="~/Content/print.css" rel="stylesheet" media="print"/>

<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />

<script src="~/Scripts/jsTree3/jstree.min.js"></script>
<script>

        $("#jstree").jstree("close_all");
        $(function () {
            var selectedData;
            $('#jstree').jstree({
                "core": {
                    "multiple": true,
                    "check_callback": false,
                    'themes': {
                        "responsive": true,
                        'variant': 'larg',
                        'stripes': false,
                        'dots': false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["dnd", "state", "types", "sort", "checkbox"]
            });
        });
</script>
<p>
    <input type="button" onclick="javascript:window.print()" class="NonPrintable btn btn-blue"  value=@organ.PrintCurrentTree/>
</p>
<div class="form-group">
    <div class="form-body">
        <div id="jstree" style="text-align: left;direction:ltr" class="b">
            @(Html.TreeView(Model)
                          .EmptyContent(@organ.Root)
                          .Children(m => m.Childs)
                          .HtmlAttributes(new { id = "tree" })
                          .ChildrenHtmlAttributes(new { @class = "subItem" })
                          .ItemText(m => m.unit_Description)
                          .ItemTemplate(
            @<a  href="@Url.Action("Details", "OrganizationChart",new{id=@item.ID})">
                @item.unit_Description
            </a>
        )
            )
        </div>
    </div>
</div>

@section scripts{}

