.links-list{
    margin-left:45px
}

.links-list a{
    color: #fff
}

.links-list > li.sep{
    border-left: unset
}

.profile-info.dropdown > a img{
    margin-top: 0;
    margin-bottom: 3px
}

.main-content .row.main-content__header{
    padding: 7px 0;
    position: fixed;
    width: 101%;
    background: #001433;
    z-index: 99;
}

a{
    text-decoration: none
}

.main-menu.small{
    text-align: center;
    width:50px
}

.main-menu.small span{
    padding: 0
}
.main-menu span.li span{
    display:none
}
.main-menu,
.custom-navbar{
    margin-top: 50px
}

.main-menu {
    background-color: #faf9f8;
    width: 200px;
    position: fixed;
    border-right: 1px solid #bebbb8;
    height: 100%;
    z-index: 999999999999999999999999999999
}

.main-menu > span{
    display: block;
    padding: 0 0 0 5px;
    height: 40px;
    background: transparent;
    color: #201f1e;
/*    font-size: 15px;*/
    font: normal normal 400 14px/21px 'Segoe UI',tahoma,sans-serif;
    border: 1px solid transparent;
    transition: all .2s ease;
}

.main-menu span span{
    line-height: 40px;
}

.main-menu span.li a{
    color: #201f1e;
    text-decoration: none
}

.main-menu span:hover{
    background-color: #edebe9;
   
}

.main-menu span.li.active {
     border: 1px solid #2266e3
}

.main-menu span:nth-of-type(2) {
    margin-top:50px !important;
    color:#f00   
}

span.shrink{
    color:#201f1e;
    position: absolute;
    margin-top: 15px;
    border: 0;
    left: 0px;
    font-size: 20px;
}

span.shrink:hover{
    background: unset
}

.small span.shrink{
    left:16px
}

@media only screen and (min-width: 600px) {

    .custom-navbar{
        display: none;        
        position: fixed;
        height: 100%;
        box-shadow: 5px 10px 10px #ccc;
        z-index: 99999999999999999999999999;
        background-color: #fdfdfd;
        box-shadow: 5px 5px 5px #ccc;
        position: fixed;
        height: 100%;
        column-count: 1;
        column-width:200px;
        column-rule: 2px solid #ccc;
        column-fill:auto;
        top:0;
        left:200px;
/*        max-width: 90%;*/
        overflow-x: auto
    }
}

@media only screen and (max-width: 600px) {
    .custom-navbar{
        z-index: 2;
        background-color: #fdfdfd;
        position: fixed;
        height: 100%;
        box-shadow: 5px 10px 10px #ccc;
        z-index: 9999999999999999999999999999;
        background-color: #fff;
        box-shadow: 5px 5px 5px #ccc;
        position: fixed;
        height: 100%;
        column-count: unset;
        column-width:unset;
        -webkit-column-gap: unset;
        -moz-column-gap: unset;
        -ms-column-gap: unset;
        -o-column-gap: unset;
        column-gap: unset;
        column-rule: unset;
        column-fill:unset;
        columns: unset !important;
        top:0;
        left:165px;
        max-width: 90%;
        overflow-y: auto
    }
}

.custom-navbar ul{
    display: none
}

.custom-navbar ul{
    list-style: none;
    left: 200px;
    padding: 0
}

.custom-navbar > ul > li{
    font-size: 15px;
    padding:10px 8px;
    margin: 0;
    color: #201f1e
}

.custom-navbar ul li:hover{
    background-color: #edebe9;
}

.custom-navbar ul li.children:hover{
    background-color: unset;
}

.custom-navbar ul li.children span{
    transition: all .2s ease
}

.custom-navbar ul li.children span:hover{
    background-color: #edebe9;
    color: #2266e3
}

.custom-navbar ul li span.active {
     border: 1px solid #2266e3
}



.custom-navbar li ul li ul li{
    padding-left: 5px;
    margin: 0
}

.custom-navbar .children ul li{
    padding: 10px 12px;
    margin: 0
}

.custom-navbar > ul > li.children{
    padding: 0
}

.children ul li.children{
    padding: 0
}

.children .children{
    margin-left: 8px !important;
}

.custom-navbar .children span{
    display: block;
    padding: 5px 0px;
    color: #201f1e;
    padding-left: 6px;
    font: normal normal 400 14px/21px 'Segoe UI',tahoma,sans-serif;
    font-weight: 600
}

.main-menu span a{
    color:#2266e3;
    font: normal normal 400 14px/21px 'Segoe UI',tahoma,sans-serif;
}

.main-menu span a{
    
}

.custom-navbar ul a{
    font: normal normal 400 14px/21px 'Segoe UI',tahoma,sans-serif;
    color: #2266e3
}

.main-menu span,
.custom-navbar ul li,
 a{
    cursor: pointer
}

.arrow {
    border: solid #201f1e;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 15px;
    margin-top: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up{
    margin-top: 8px
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*Arabic*/

/*
body{
    direction: rtl
}

.custom-navbar span,.custom-navbar,.custom-navbar ul,.custom-navbar li, .main-menu span{
    direction:rtl !important
}

span.shrink{
    left: unset;
    right: 10px
}

.custom-navbar{
    right: 200px;
    left: unset;
    box-shadow: -2px 5px 5px #ccc;
}

.main-menu{
    border-left: 1px solid #ccc;
    border-right: unset;
}

.main-menu span a{
    color:#000
}
.custom-navbar ul li a{
    color:#000;
}

.custom-navbar .children span{
    padding-left: unset;
    padding-right: 6px
}

.arrow {
    left: 25px;
    right: unset;
}
*/
/*Create Form*/
.page-body .select2-container .select2-choice .select2-arrow {
    border-left: 0;
}

.page-body .select2-container .select2-choice{
    height: 28px;
    font-size: 13px;
    border-radius: 0;
    vertical-align: middle;
    line-height: 28px;
}
