
    .NonPrintable {
        display: none;
    }
@media print {
  a[href]:after {
    content: " (" attr(href) ")";
  }
}

@media print {
   a[href]:after {
      display: none;
      visibility: hidden;
   }
}
