body{
    background: #fff
}

/*Calendar*/
.icalendar{
    margin-top: 0
}
.icalendar__month{
    background-color: #fff;
}

.icalendar__month h2{
    font-weight: 400 !important
}
#icalendarDateStr{
    display: none
}
.icalendar__current-date #icalendarMonth{
    color: #000
}
.icalendar__next, .icalendar__prev{
    background-color: #fff;
    color: #000
}
.icalendar__week-days,
.icalendar__week-days div,
.icalendar__days{
    background-color: #fff;
    color: #000
}

.icalendar__days div{
    font-size: 12px;
    line-height: 25px;
}
.icalendar__today{
    background-color: #2266e3;
    color: #fff
}
.icalendar__next-date, .icalendar__prev-date{
    color: #fff
}
/*Calendar*/

.tabs .tab{
    background: #fff;
    height: 90px;
    padding: 0 15px;
    box-shadow: 0 0.3px 0.9px rgba(0,0,0,.108), 0 1.6px 3.6px rgba(0,0,0,.132);
    line-height: 90px;
    margin-bottom: 30px
}

.main-tab{
    margin-bottom: 60px !important
}

.tabs .tab p{
    font: normal normal 600 14px/18px 'Segoe UI',tahoma,sans-serif;
    color: #11100f;
    line-height: 90px
}

.tabs .tab i{
    color: #2266e3;
    font-size: 21px
}

/*
.child-tabs > .row{
    display: none
}*/

.child-tabs .basic,
.child-tabs .organization,
.child-tabs .personnel,
{
    margin-bottom: 50px
}
