@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@model IEnumerable<HR.Models.Organization_Chart>
@using System.Web.UI.WebControls
@using HR.Models;



<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />

<div class="form-group">

    <link href="~/Content/print.css" rel="stylesheet" media="print" />

    <link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
    <p>
        <input type="button" onclick="javascript:window.print()" class="NonPrintable btn btn-blue" style="color:white;background-color:forestgreen" value="Print Tree" />
    </p>
    <div class="form-body">
        <div id="jstree" style="margin-left:200px; text-align: left;direction:ltr" class="b">
            @(Html.TreeView(Model)
                          .EmptyContent("Root")
                          .Children(m => m.Childs)
                          .HtmlAttributes(new { id = "tree" })
                          .ChildrenHtmlAttributes(new { @class = "subItem" })
                          .ItemText(m => m.unit_Description)
                           .ItemTemplate(
            @<a href="@Url.Action("special_organization_view_related_to_jobs", "OrganizationInquiry", new{id=@item.ID})">
                @item.unit_Description
            
            </a>
        )



                          
            )
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jsTree3/jstree.min.js"></script>
    <script>
        debugger
        $("#jstree").jstree("open_all");
        $(function () {
            var selectedData;
            $('#jstree').jstree({
                "core": {
                    "multiple": true,
                    "check_callback": false,
                    'themes': {
                        "responsive": true,
                        'variant': 'larg',
                        'stripes': false,
                        'dots': false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["dnd", "state", "types", "sort", "checkbox"]
            });
        });
    </script>
}
